#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pong
Exec=/usr/local/bin/pong
Terminal=false
Type=Application
Icon=/usr/share/pong/pong.png
StartupNotify=true
